{{if .Values.anyscaleCliToken}}
apiVersion: v1
kind: Secret
metadata:
  name: anyscale-cli-token
  namespace: {{ .Release.Namespace }}
  labels:
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  ANYSCALE_CLI_TOKEN: {{ .Values.anyscaleCliToken | b64enc }}
{{end}}
